.vadu-logo-container {
  width: 25%;
  margin-right: 0;
  text-align: center;
}

.vadu-logo-image {
  width: 100%;
}

.vadu-logo {
  width: 75px;
  /* margin: 0 auto; */
}

.vadu-logo-text {
  letter-spacing: 15px;
  font-size: 2.5em;
  font-variant: small-caps;
}

a.cart:before {
  content: attr(data-content) !important;
}

.pagination .active {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 0px !important;
  padding: 10px 15px;
  border: 1px solid transparent;
}

.pagination .active {
  background: #333333;
  color: #fff;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  animation: corner 5s;
  animation-iteration-count: infinite;
}

.pagination .next a {
  border-radius: 30px;
  animation: corner 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pagination .next a:hover {
  animation: corner 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes corner {
  0% {
    border-top-left-radius: 1% 50%;
  }
  12.5% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  25% {
    border-top-right-radius: 1% 50%;
  }
  25.001% {
    border-top-right-radius: 50% 1%;
  }
  37.5% {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  50% {
    border-bottom-right-radius: 50% 1%;
  }
  50.001% {
    border-bottom-right-radius: 1% 50%;
  }
  62.5% {
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  75% {
    border-bottom-left-radius: 1% 50%;
  }
  75.001% {
    border-bottom-left-radius: 50% 1%;
  }
  87.5% {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
  }
  100% {
    border-top-left-radius: 50% 1%;
  }
}

.spinner {
  position: relative;
  will-change: top, left;
  left: 0;
  top: 4px;
  text-align: center;
}

.spinner > div {
  width: 14px;
  height: 14px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
